*{
    margin: 0;
    box-sizing: border-box;
}
header {
    max-width: 500px;
    margin: auto;
    
}

.lists {
    list-style: none;
    
  
}

.lists, a {
    text-decoration: none;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
   
}

.list, a:hover {
    color: red;
}


.fig {
    margin-top: 20px;
    text-align: center;
   
}
.fc {
    text-align: center;
}

form {
    text-align: center;
    margin-top: 20px;
    
}

body {
    background-color: #000000;
}

label {
    background-color: white;
    color: #3A5311;
    font-family: "Roboto";
    
}
#search {
    font-family: "Roboto";

}


#button {
    color: #3A5311;
    border: none;
    background-color: white;
    font-family: "Roboto";
    cursor: pointer;
}
